<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<h1>게시글 작성</h1>
<form>
    <input type="text" name="userName" value="작성자"> &nbsp; <input type="text" name="userPassword" value="비밀번호"><br><br>
    <input type="text" name="boardTitle" value="제목"><br><br>
    <textarea name="boardContent" rows="30" cols="100">내용</textarea><br><br>
    <input type="file" name="upload_file" accept="image/*"><br><br>
    <input type="submit" value="취소"> &nbsp; <input type="submit" value="등록">
</form>
</body>
</html>