<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<h1>게시글 리스트</h1>
<form action=createpage.html method="post">
   <div style="float:right;"><input type="submit" value="게시글 등록"></div>
</form>
<table style>
    <tr style="background-color:lightgrey">
        <th>게시글 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일자</th>
    </tr>
    <tr>
        <td>ㅇ</td>
        <td>ㅇ</td>
        <td>ㅇ</td>
        <td>ㅇ</td>
    </tr>
</table>
<select name="searchBox">
    <option value="userName"> 작성자
    <option value="boardTitle, boardContent"> 제목+내용
    <input type="text" name="searchKey">
    <input type="submit" value="찾기">
</select>
//버튼을 누르면 검색 결과 나오게
</body>
</html>