<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
<script>

//자바스크립트의 onclick 같은 기능 html이 화면에 뿌려지고 나서 ready안에 서술된 이벤트들이 동작 준비를 하는 것
$(document).ready(function(){
getBoardDetail();
});


/** 게시판 추천 **/
var boardRecommendation = 0;
function getRecommendation(){
    boardRecommendation = boardRecommendation + 1;
    return alert("게시글을 추천하였습니다.");
}


/** 게시판 신고**/
var boardReport = 0;
function getReport(){
    boardReport = boardReport +1;
    return alert("게시글을 신고하였습니다.");
}

/** 게시판 - 목록 페이지 이동 */
function goBoardList(){
location.href = "/boardlist";
}

/** 게시판 조회에서 게시글 수정을 위해 본인확인 페이지로 이동**/
function getIdentificationForUpdate(){
    location.href ="/board/identificationforupdate";
}

/** 게시판 조회에서 게시글 삭제를 위해본인확인 페이지로 이동**/
function getIdentificationForDelete(){
    location.href ="/board/identificationfordelete";
}


/** 댓글 - 댓글 조회 **/
function getCommentDetail(commentNo){

    var commentNo = $("#commentNo").val();

    if(commentNo != ""){

        $.ajax({

            url        : "/board/getBoardDetail",
//seriallize = 데이터를 보내기위해 폼요소 집합을 문자열로 인코딩
            data    : $("#CommentForm").serialize(),
            dataType: "JSON",
            cache   : false,
            async   : true,
            type    : "POST",

//post가 성공하면 commentdetailcallback 함수 작동
            success : function(obj) {
                getCommentDetailCallback(obj);
            },
            error     : function(xhr, status, error) {}

        });
    } else {
        alert("오류가 발생했습니다.\n관리자에게 문의하세요.");
    }
}
/** 댓글 - 댓글 조회 콜백 함수 **/
function getBoardDetailCallback(obj){

    var str = "";

    if(obj != null){

        var commentNo       = obj.commentNo; //댓글 번호
        var commentWriteDate        = obj.commentWriteDate; //게시판 제목
        var commentWriteUpdate         = obj.commentWriteUpdate; //게시판 내용
        var commentDeleted         = obj.commentDeleted; //작성일자
        var commentContent     = obj.commentContent; //새로운 작성일자
        var commentPassword    = obj.commentPassword; //게시글 지운 것 여부
        var userName     = obj.userName; //게시글 조회수
        var userIp         = obj.userIp; //게시글 비밀번호
        // var userName            = obj.userName; //작성자명
// var insDate         = obj.ins_date;
// var updUserId         = obj.upd_user_id;
// var updDate         = obj.upd_date;
// var files            = obj.files;
// var filesLen        = files.length;

        str += "<tr>";
        str += "<th>제목</th>";
        str += "<td>"+ boardTitle +"</td>";
        str += "</tr>";

        str += "<tr>";
        str += "<th>작성자</th>";
        str += "<td>"+ userName +"</td>";
        str += "<th>작성일시</th>";
        str += "<td>"+ boardWriteDate +"</td>";
        str += "<th>조회</th>";
        str += "<td>"+ boardReadCount +"</td>";
        str += "<th>추천</th>";
        str += "<td>"+ boardRecommendation +"</td>";
        str += "<th>전체 댓글수</th>";
        str += "<td>"+ board +"</td>";
        str += "</tr>";

        str += "<tr>";
        str += "<th>내용</th>";
        str += "<td colspan='3'>"+ boardContent +"</td>";
        str += "</tr>";

        if(filesLen > 0){

            for(var a=0; a<filesLen; a++){

                var boardSeq    = files[a].board_seq;
                var fileNo         = files[a].file_no;
                var fileNameKey = files[a].file_name_key;
                var fileName     = files[a].file_name;
                var filePath     = files[a].file_path;
                var fileSize     = files[a].file_size;
                var remark         = files[a].remark;
                var delYn         = files[a].del_yn;
                var insUserId     = files[a].ins_user_id;
                var insDate     = files[a].ins_date;
                var updUserId     = files[a].upd_user_id;
                var updDate     = files[a].upd_date;

                str += "<th>첨부파일</th>";
//str += "<td onclick='javascript:fileDownload(\"" + fileNameKey + "\", \"" + fileName + "\", \"" + filePath + "\");' style='cursor:Pointer'>"+ fileName +"</td>";
                str += "<td colspan='3'><a href='/board/fileDownload?fileNameKey="+encodeURI(fileNameKey)+"&fileName="+encodeURI(fileName)+"&filePath="+encodeURI(filePath)+"'>" + fileName + "</a></td>";
                str += "</tr>";
            }
        }

    } else {

        alert("등록된 글이 존재하지 않습니다.");
        return;
    }

    $("#tbody").html(str);
}




// /** 게시판 - 수정 페이지 이동 */
// function goUpdateBoard(){
// //양식(form)의 값을 가져오거나 값을 설정하는 메소드 board_seq의 값을 가져옴
// var boardNo = $("#boardNo").val();
//
// location.href = "/board/boardUpdate?boardSeq="+ boardSeq;
// }
//
// /** 게시판 - 삭제 페이지 이동 */
// function goDeleteBoard(){
// //양식(form)의 값을 가져오거나 값을 설정하는 메소드 board_seq의 값을 가져옴
// var boardNo = $("#boardNo").val();
//
//     location.href = "/board/boardUpdate?boardSeq="+ boardSeq;
// }

// /** 게시판 - 답글 페이지 이동 */
// function goBoardReply(){
//
// var boardNo = $("#boardNo").val();
//
// location.href = "/board/boardReply?boardSeq="+ boardSeq;
// }

/** 게시판 - 첨부파일 다운로드 */
function fileDownload(fileNameKey, fileName, filePath){

location.href = "/board/fileDownload?fileNameKey="+fileNameKey+"&fileName="+fileName+"&filePath="+filePath;
}

/** 게시판 - 상세 조회  */
function getBoardDetail(boardNo){

var boardNo = $("#boardNo").val();

if(boardNo != ""){

$.ajax({

url        : "/board/getBoardDetail",
//seriallize = 데이터를 보내기위해 폼요소 집합을 문자열로 인코딩
data    : $("#boardForm").serialize(),
dataType: "JSON",
cache   : false,
async   : true,
type    : "POST",

//post가 성공하면 boarddetailcallback 함수 작동
success : function(obj) {
getBoardDetailCallback(obj);
},
error     : function(xhr, status, error) {}

});
} else {
alert("오류가 발생했습니다.\n관리자에게 문의하세요.");
}
}

/** 게시판 - 상세 조회  콜백 함수 */
function getBoardDetailCallback(obj){

var str = "";

if(obj != null){

var boardNo        = obj.boardNo; //게시판 번호
var boardTitle         = obj.boardTitle; //게시판 제목
var boardContent         = obj.boardContent; //게시판 내용
var boardWriteDate         = obj.boardWriteDate; //작성일자
var boardWriteUpdate     = obj.boardWriteUpdate; //새로운 작성일자
var boardDeleted     = obj.boardDeleted; //게시글 지운 것 여부
var boardReadCount     = obj.boardReadCount; //게시글 조회수
var boardPassword         = obj.boardPassword; //게시글 비밀번호
var userName            = obj.userName; //작성자명
// var insDate         = obj.ins_date;
// var updUserId         = obj.upd_user_id;
// var updDate         = obj.upd_date;
// var files            = obj.files;
// var filesLen        = files.length;

    str += "<tr>";
        str += "<th>제목</th>";
        str += "<td>"+ boardTitle +"</td>";
    str += "</tr>";

    str += "<tr>";
        str += "<th>작성자</th>";
        str += "<td>"+ userName +"</td>";
        str += "<th>작성일시</th>";
        str += "<td>"+ boardWriteDate +"</td>";
        str += "<th>조회</th>";
        str += "<td>"+ boardReadCount +"</td>";
        str += "<th>추천</th>";
        str += "<td>"+ boardRecommendation +"</td>";
        str += "<th>전체 댓글수</th>";
        str += "<td>"+ board +"</td>";
    str += "</tr>";

str += "<tr>";
    str += "<th>내용</th>";
    str += "<td colspan='3'>"+ boardContent +"</td>";
    str += "</tr>";

if(filesLen > 0){

for(var a=0; a<filesLen; a++){

var boardSeq    = files[a].board_seq;
var fileNo         = files[a].file_no;
var fileNameKey = files[a].file_name_key;
var fileName     = files[a].file_name;
var filePath     = files[a].file_path;
var fileSize     = files[a].file_size;
var remark         = files[a].remark;
var delYn         = files[a].del_yn;
var insUserId     = files[a].ins_user_id;
var insDate     = files[a].ins_date;
var updUserId     = files[a].upd_user_id;
var updDate     = files[a].upd_date;

str += "<th>첨부파일</th>";
//str += "<td onclick='javascript:fileDownload(\"" + fileNameKey + "\", \"" + fileName + "\", \"" + filePath + "\");' style='cursor:Pointer'>"+ fileName +"</td>";
str += "<td colspan='3'><a href='/board/fileDownload?fileNameKey="+encodeURI(fileNameKey)+"&fileName="+encodeURI(fileName)+"&filePath="+encodeURI(filePath)+"'>" + fileName + "</a></td>";
str += "</tr>";
}
}

} else {

alert("등록된 글이 존재하지 않습니다.");
return;
}

$("#tbody").html(str);
}

// /** 게시판 - 삭제  */
// function deleteBoard(){
//
// var boardSeq = $("#board_seq").val();
//
// var yn = confirm("게시글을 삭제하시겠습니까?");
// if(yn){
//
// $.ajax({
//
// url        : "/board/deleteBoard",
// data    : $("#boardForm").serialize(),
// dataType: "JSON",
// cache   : false,
// async   : true,
// type    : "POST",
// success : function(obj) {
// deleteBoardCallback(obj);
// },
// error     : function(xhr, status, error) {}
//
// });
// }
// }

// /** 게시판 - 삭제 콜백 함수 */
// function deleteBoardCallback(obj){
//
// if(obj != null){
//
// var result = obj.result;
//
// if(result == "SUCCESS"){
// alert("게시글 삭제를 성공하였습니다.");
// goBoardList();
// } else {
// alert("게시글 삭제를 실패하였습니다.");
// return;
// }
// }
// }
</script>
</head>
<body>
<div id="wrap">
    <div id="container">
        <div class="inner">
            <h2>게시글 상세</h2>
            <button type="button" onclick="javascript:goBoardUpdate();">게시글 등록</button>
            <button type="button" onclick="javascript:getIdentificationForUpdate();">수정</button>
            <button type="button" onclick="javascript:getIdentificationForDelete();">삭제</button>
            <br><br>
            <form id="boardForm" name="boardForm">
                <table>
                    <thead id="thead">
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
                <input type="hidden" id="boardNo"        name="boardNo"    value="${boardNo}"/> <!-- 게시글 번호 -->
                <input type="hidden" id="search_type"    name="search_type"     value="S"/> <!-- 조회 타입 - 상세(S)/수정(U) -->
            </form>
            <br><br>
            <button type="button" onclick="javascript:getRecommendation();">추천</button>
            <button style="color:red" type="button" onclick="javascript:getReport();">신고</button>
            <br><br>
            전체 댓글
            <hr>
            작성자: <input type="text" name="userName"> &nbsp; 댓글: <textarea name="boardContent" rows="3" cols="50"></textarea>    <input type="file" name="fileNo" id="files" accept="image/png, image/jpg, image/jpeg, image/gif, video/mp4, video/avi" onchange="checkFile(this)"> <br>

            <br>
            비밀번호: <input type="password" name="userPassword"> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="등록" onclick="alert('동록이 완료되었습니다.')">

            <br><br>
                <button type="button" onclick="javascript:goBoardList();">목록으로</button>
<!--                <button type="button" class="btn black mr5" onclick="javascript:goBoardUpdate();">수정하기</button>-->
<!--                <button type="button" class="btn black" onclick="javascript:deleteBoard();">삭제하기</button>-->
<!--                <button type="button" class="btn black mr5" onclick="javascript:goBoardReply();">답글쓰기</button>-->
            </div>
        </div>
    </div>
</div>
</body>
<!--<body>-->
<!--<h1>게시글 조회</h1>-->
<!--<form action="createpage.html" method="post">-->
<!--<input type="submit" value="게시글 등록">-->
<!--</form>-->
<!--<form action="identificationpage.html" method="get">-->
<!--<input type="submit" value="수정"><input type="submit" value="삭제">-->
<!--</form>-->
<!--제목:-->
<!--<br>-->
<!--작성자: &nbsp; 작성일자: &nbsp; 조회수: &nbsp; 추천수: &nbsp; 댓글수: &nbsp; <br>-->
<!--<hr>-->
<!--내용:-->
<!--<br><br><br><br><br>-->
<!--<input type="submit" value="추천" onclick="alert('추천이 완료되었습니다.')">-->
<!--<input type="submit" value="신고" onclick="alert('신고가 완료되었습니다.')">-->
<!--<hr>-->
<!--전체 댓글-->
<!--<hr>-->
<!--작성자: <input type="text" name="userName"> &nbsp; 댓글: <textarea name="boardContent" rows="3" cols="50"></textarea>    <input type="file" name="fileNo" id="files" accept="image/png, image/jpg, image/jpeg, image/gif, video/mp4, video/avi" onchange="checkFile(this)"> <br>-->

<!--<br>-->
<!--비밀번호: <input type="password" name="userPassword"> 등록: <input type="submit" value="등록" onclick="alert('동록이 완료되었습니다.')">-->
<!--<form action="mainpage.html" method="get">-->
<!--<input type="submit" value="목록">-->
<!--</form>-->

<!--</body>-->
</html>